@use 'base/reset';
@use 'base/variables';

.attribution {
  text-align: center;
  font-size: 11px;
  margin: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.hide {
  display: none;
}

body {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
  color: var(--dark-grayish-cyan);
  background-color: var(--light-grayish-cyan);
}

#logo {
  display: block;
  margin: 20px auto;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 20px;
  padding: 30px;
  margin: auto;
}

h1 {
  font-size: 0.9rem;
}

.invalid-message {
  color: red;
}

.not-zero-flex {
  display: flex;
  justify-content: space-between;
}

.input-not-zero {
  border: 2px solid red !important;
}

.number-of-people-header {
  margin-top: 20px;
}

input:focus {
  outline: none !important;
}

.input-container {
  position: relative;
  margin: 10px 0 30px;
}

.input-container img {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.input-container input {
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--very-dark-cyan);
  text-align: right;
  height: 3rem;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: var(--very-light-grayish-cyan);
  padding-left: 25px;
  padding-right: 10px;
}

.input-container input:focus {
  border: 2px solid var(--strong-cyan);
}

/* remove arrows for number input in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove arrows for number input in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.select-tip-header {
  margin-bottom: 10px;
}

.tip-percentage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.tip-percentage {
  font-family: inherit;
  font-size: 1.5rem;
  background-color: var(--very-dark-cyan);
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 8px 0;
}

.tip-active {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.tip-custom,
.tip-custom-input {
  font-family: inherit;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 0;
  padding: 0 10px 0 0;
  background-color: var(--very-light-grayish-cyan);
  color: var(--dark-grayish-cyan);
  text-align: right;
  width: 100%;
  font-size: 1.5rem;
}

.tip-custom:hover,
#price,
#number-of-people {
  cursor: pointer;
}

.tip-custom-input {
  border: 2px solid var(--strong-cyan);
}

.tip-percentage:hover:not(.tip-active) {
  background-color: var(--hover-cyan);
  color: var(--very-dark-cyan);
  cursor: pointer;
}

section {
  color: var(--white);
  border-radius: 15px;
  background-color: var(--very-dark-cyan);
  padding: 20px 25px;
}

.tip-amount,
.total {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

section span {
  font-size: 0.8rem;
  color: var(--grayish-cyan);
}

.amount-number {
  color: var(--strong-cyan);
  font-size: 2rem;
}

#reset-button {
  font-family: inherit;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  padding: 5px 0;
  border: 0;
  border-radius: 5px;
}

#reset-button:hover {
  background-color: var(--hover-cyan);
}

.total {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  main {
    width: 100%;
    max-width: 600px;
  }
}

@media only screen and (min-width: 992px) {
  main {
    margin: auto;
    display: flex;
    flex-direction: row;

    gap: 50px;
    justify-content: space-between;
    width: 800px;
  }
  #logo {
    padding: 50px;
  }
  .flex-wrapper {
    flex-grow: 1;
    flex-basis: 0;
  }
  section {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: max-content;
  }
  .tip-percentage-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .tip-custom {
    padding-right: 5px;
  }
}
